.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0;
}

.btn-close {
    color: white;
    position: absolute;
    right: -30px;
    top: 0;
}


.img-container {
    cursor: pointer;
    position: relative;
    /*border: 1px solid #ccc;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    display: block;
    min-width: 100%;
    height: auto;
}

.img-container .fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: #0a0a0a;
    margin-left: -2vh;
    margin-top: -2vh;
    font-size: 4vh;
    color: white;
}
